@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Fix Chrome autofill text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ccd6f6 !important;
  -webkit-box-shadow: 0 0 0px 1000px #0a192f inset !important;
  box-shadow: 0 0 0px 1000px #0a192f inset !important;
  transition: background-color 5000s ease-in-out 0s;
}


